body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  


  .menubar {
    background-color:#fff;
    justify-content: space-between;
    display: flex;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 8vh;
    align-items: center;
}
#toggle-btn{
    cursor: pointer;
    height: 1.5vw;
    padding: 8px;
    color: #eee;
}
#logo-icon{
  /* position:absolute; */
  position: fixed;
  height: 60px;
  padding: 8px;
  left: 2vw;
}

.search-wrapper{
  border: 1px solid #ccc;
   border-radius:30px;
    height:4vh;
    width: 42vw;
   display: flex;
  align-items: center;
   overflow-x: hidden;  
   
}
.search-wrapper #id1{
  padding:.5vh 1vh;
  background-color: #ccc;
  height: 3.0vh;
  width: 2.2vw;
}
.search-wrapper input {
  height: 100%;
  width: 100%;
  padding-left: 19vw;;
   border: none;
  outline: none; 
}
.search-wrapper{
   
  margin-left: 7vw;
 
}
.search-or-microphone{
  display: flex;
  place-items: center;
  /* padding-bottom: 20px; */
  
}
.search-or-microphone #id3{
  /* font-size: 20px; */
  height: 2.4vw;
  width: 1.5vw;
  padding-left: 1vw;
}

.menubar #id2{
  border-radius: 50%;
  height: 5vh;
  padding-top: 3px;
  position: relative;
  
}
/* .menubar #id3{
  height: 3vh;
  position:relative;
  left:-28vw;
} */


.menu-item {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
  
}

.sub-menu {
    display: none;
    background-color: #eee;
    border: 1px solid #ccc;
    position: absolute;
    z-index: 1;
}

.sub-menu-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


.container{
   background-color: rgb(240, 240, 240);
     width: 95%; 
     margin: auto;
     /* height: 100vh; */
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-gap: 30px;
     position: absolute;
     top: 0;
     padding-top: 60px;
     margin-left: 2.5vw;
     z-index: 0;
     
} 
.container>div img{
  width: 100%;
  border-radius: 10px;
}
.container>div{
  border-bottom: solid 2px #ccc;
  border-radius: 10px;
  
}



  .sidebar {
    height: 92%;
    width: 240px;
    position: fixed;
   
    /* top: -710vh; */
    /* left: -250px; */
    background-color: rgb(249, 240, 240);
    padding-top: 60px;
    transition: left 0.3s ease-in-out;
    /* margin-top: 2vh; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
 .sidebar h5{
  border-top: 2px solid #ccc;
  padding-left: 10px;
  padding-top: 5px;
  opacity: .7;
 }

  ::-webkit-scrollbar{
    width: 5px;
   
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #ccc;
  }

 
  
  .sidebar a {
    padding: 15px;
    text-decoration: none;
    color: #000;
    display: block;
    transition: color 0.3s;
  }
  
  .sidebar a:hover {
    color: white;
  }

 

  



@media (max-width:600px){
  .container{
  display: grid;
     grid-template-columns: repeat(1,1fr);
     /* grid-gap: 30px; */
  }
  .container>div img{
    width: 100%;
    border-radius: 10px;
    
  }
  #toggle-btn{
    position:relative;

    height: 4.5vw;
    /* padding-right: 5vw; */
  }
  #logo-icon{
    position:fixed;
    height: 50px;
    margin-right: 10px;
    /* background-color: red; */
    left:6vw
  }
  .search-wrapper{
    width: 35vw;
    height: 25px;
    overflow-x: hidden; 
  }

.search-wrapper #id1{
  padding:4.5px;
  background-color:none;
  height: 1.8vh;
  width: 14px;
  
}
.menubar #id2{
  height: 3.5vh;
  position: relative;
  right:10px;
}
  .menubar #id3{
    height: 2.9vh;
    width: 14px;
    position:relative;
    left:0vw;
  }
  .search-wrapper input {
    height: 100%;
    width: 100%;
    padding-left: 2vw;;
     border: none;
    outline: none; 
   
  }
  
  

.sidebar{
  height: 92.5%;
  position: fixed;
}
}


  






.containerr{
  background-color: rgb(240, 240, 240);
    width: 95%; 
    margin: auto;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    /* position: absolute; */
    padding-top: 60px;
    margin-left: 2.5vw;
    z-index: 0;
    
} 
.containerr>div img{
  width: 100%;
  border-radius: 10px;
  
}




@media (max-width:700px){
.containerr{
  display: grid;
     grid-template-columns: repeat(1,1fr);
     /* grid-gap: 30px; */
  }
  .containerr>div img{
    width: 100%;
    border-radius: 10px;
    
  }
}

#preloader{
  background: #fff url(loader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
